/* Utils */
/*----- Colors -----*/
/*----- Fonts -----*/
/*----- Dimensions and sizes -----*/
/* Base */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI9w2_Gwfo.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwfo.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}

html {
  background: white;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: white;
  margin: 25px 0 25px;
  letter-spacing: 0.3px;
  color:black;
}

:root {
  font-family: 'Noto Sans',  sans-serif;
  font-size: medium;

  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
  --syntax-tab-size: 2;
  font-weight: 400;

  /*colors*/
  --pureooze-light-mode-primary: #f2f2f2;
  --pureooze-primary: #26196f;
  --pureooze-primary-for-rgba: 146, 50, 216;
  --pureooze-primary-text: #000;
  --pureooze-secondary-text: white;
  --pureooze-accent: #9232D8FF;
  --pureooze-accent-light: #ac73d8;
  --pureooze-accent-light-mode: #f9f9f9;
  --pureooze-detail: #aaa;
  --pureooze-light-mode-detail: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  margin: 0;
}

h1 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px;
}

h2 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
}

h3 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .4px;
}

h4 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

h4.bold {
  font-weight: 700;
}

h5 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 11px;
}

h5.italic {
  font-style: italic;
}

h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #2895F1;
}

a .fa-external-link {
  font-size: 10px;
  vertical-align: text-top;
}

p,
li {
  font-size: 11px;
}

blockquote {
  font-size: 11px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 10px 25px;
}

em {
  color: #999;
}

ul {
  margin: 0.3em 0 0;
  -webkit-padding-start: 25px;
}

ul li {
  padding-left: 10px;
}

ul.minimal {
  list-style: none;
  padding: 0;
}

ul.minimal li {
  margin-bottom: 3px;
  padding-left: 0;
}

ul.two-column {
  -webkit-column-count: 2;
  -webkit-column-gap: 28px;
  column-count: 2;
  column-gap: 28px;
}

ul.two-column li {
  padding-left: 0;
}

@page {
  size: A4;
}

.container {
  padding-top: 20px;
}

.keyline {
  width: 45px;
  margin: 8px 0 10px;
  border-top: 1px solid #26196f;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.section-with-website {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
  margin-bottom: 0.3em;
}

.section-name-and-skills {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.profile-pic {
  margin-top: -5px;
  margin-right: 18px;
}

.profile-pic img {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid #26196f;
}

.summary {
  margin: 5px 0 5px;

  padding: 0.5em 1em;
  font-size: small;
  background-color: rgba(var(--pureooze-primary-for-rgba), 0.1);
}

.work-highlight {
  font-size: small;
}

.sublink {
  color: var(--pureooze-primary);
  font-size: smaller;
}

.capitalize {
  text-transform: capitalize;
}

/* Layouts */
.page {
  background: white;
  width: 45em;
  min-height: 792px;
  display: block;
  margin: 0 auto;
  border-top: 10px solid #26196f;
  padding: 36px 22px 0 34px;
}

.page:after {
  content: "";
  display: table;
  clear: both;
}

.left-column {
  float: left;
  width: 160px;
  margin-right: 20px;
  word-wrap: break-word;
}

.right-column {
  width: auto;
  overflow: hidden;
}

.item {
  margin-bottom: 15px;
}

.item:last-child {
  margin-bottom: 0;
}

@media print {
  body {
    margin: 0;
  }

  .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 36px 0 30px;
    box-shadow: none;
  }

  .page .resume-header,
  .page .resume-content {
    padding: 0 22px 0 34px;
  }

  .container {
    page-break-inside: avoid;
  }

  .work-container .item {
    page-break-inside: avoid;
  }

  .fa-external-link {
    display: none;
  }
}

/* Components */
.info-tag-container {
  margin-bottom: 5px;
  display: flex;
}

.info-tag-container .fa {
  font-size: 14px;
  width: 12px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
}

.info-tag-container .fa.fa-map-marker {
  font-size: 16px;
}

.info-tag-container .fa.fa-mobile {
  font-size: 18px;
}

.info-tag-container .fa.fa-envelope-o {
  font-size: 12px;
}

.info-tag-container .fa.fa-desktop {
  font-size: 11px;
}

.info-tag-container .fa.fa-external-link {
  width: auto;
  font-size: inherit;
  vertical-align: text-top;
}

.info-tag-container .info-text {
  font-size: 12px;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  width: 139px;
}

.references-container .fa {
  font-size: 14px;
}

.education-container .location {
  padding-bottom: 6px;
  font-weight: 400;
}

.education-container .specialization {
  text-transform: none;
  font-style: italic;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-skill {
  font-size: 80%;
}

.skill {
  padding: 0.05em 0.2em;
  margin: 0.1em 0.2em;
  background-color: rgba(var(--pureooze-primary-for-rgba), 0.1);
  border-radius: 4px;
  font-weight: 600;
  color: var(--pureooze-primary);
}
